@{
    ViewData["Title"] = "Incidentes";
    ViewData["Current"] = "Incidentes";
    ViewData["Breadcrumb"] = new Dictionary<string, string>
    {
        { "Inicio", Url.Action("Index", "Home") },
        { "Incidentes", Url.Action("Incidentes", "Home") }
    };
}
<div class="col-12 mb-3">
    <h1 class="text-center">Incidentes</h1>
</div>
<div class="col-12">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="table-secondary">
            <tr id="table-header">
                <th scope="col">#</th>
                <th>Fecha</th>
                <th>Heladera</th>
                <th>Tipo</th>
                <th>Resuelto</th>
            </tr>
            </thead>
            <tbody id="table-body" class="table-group-divider">

            <tr>
                <th scope="row">1</th>
                <td>2024-08-16</td>
                <td>Heladera 1</td>
                <td>Alerta temperatura</td>
                <td>
                    <span class="badge badge-success p-2" style="width: 40px">Si</span>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>2024-08-18</td>
                <td>Heladera 2</td>
                <td>Falla Técnica</td>
                <td>
                    <span class="badge badge-danger p-2" style="width: 40px">No</span>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>2024-08-23</td>
                <td>Heladera 3</td>
                <td>Alerta Fraude</td>
                <td>
                    <span class="badge badge-danger p-2" style="width: 40px">No</span>
                </td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>2024-08-24</td>
                <td>Heladera 3</td>
                <td>Alerta Conexión</td>
                <td>
                    <span class="badge badge-success p-2" style="width: 40px">Si</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>