@{
    ViewData["Title"] = "Inicio";
    ViewData["Current"] = "Index";
    ViewData["Breadcrumb"] = new Dictionary<string, string>
    {
        { "Inicio", Url.Action("Index", "Home") }
    };
}

<div class="col-12" style="
    align-content: center;
    height: 80vh;
">
    <h1 class="text-center">Bienvenido al Sistema para la Mejora del Acceso Alimentario en Contextos de Vulnerabilidad Socioeconómica</h1>
</div>