@{
    ViewData["Title"] = "Registrar Colaborador";
    ViewData["Current"] = "RegistrarColaborador";
    ViewData["Breadcrumb"] = new Dictionary<string, string>
    {
        { "Inicio", Url.Action("Index", "Home") },
        { "Registrar Colaborador", Url.Action("RegistrarColaborador", "Home") }
    };
}
<div class="col-12">
    <h1 class="text-center">Registrar Colaborador</h1>
</div>
<div class="col-12">
    <form>
        <div class="row">
            <div class="mb-3">
                <label for="tipoPersona" class="form-label">Tipo de persona</label>
                <select class="form-select" aria-label="Default select example" id="tipoPersona"
                        onchange="updateTable()">
                    <option selected disabled>Seleccione una opcion</option>
                    <option value="personaHumana">Fisica</option>
                    <option value="personaJuridica">Juridica</option>
                </select>
            </div>
            <div class="mb-3 personaHumana personaJuridica d-none">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre"
                       placeholder="Nombre">
            </div>
            <div class="mb-3 personaHumana d-none">
                <label for="apellido" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="apellido"
                       placeholder="Apellido">
            </div>
            <div class="mb-3 col-6 personaHumana personaJuridica d-none">
                <label for="tipoDocumento" class="form-label">Tipo Documento</label>
                <select class="form-select" aria-label="Tipo Documento" id="tipoDocumento">
                    <option selected disabled>Seleccione una opcion</option>
                    <option value="dni">DNI</option>
                    <option value="le">LE</option>
                    <option value="lc">LC</option>
                    <option value="cuit">CUIT</option>
                    <option value="cuil">CUIL</option>
                </select>
            </div>
            <div class="mb-3 col-6 personaHumana personaJuridica d-none">
                <label for="nroDocumento" class="form-label">Numero de documento</label>
                <input type="number" class="form-control" id="nroDocumento"
                       placeholder="Numero de documento">
            </div>
            <div class="mb-3 col-9 personaHumana personaJuridica d-none">
                <label for="calle" class="form-label">Calle</label>
                <input type="text" class="form-control" id="calle"
                       placeholder="Calle">
            </div>
            <div class="mb-3 col-3 personaHumana personaJuridica d-none">
                <label for="numero" class="form-label">Numero</label>
                <input type="text" class="form-control" id="numero"
                       placeholder="Numero">
            </div>
            <div class="mb-3 col-6 personaHumana personaJuridica d-none">
                <label for="localidad" class="form-label">Localidad</label>
                <input type="text" class="form-control" id="localidad"
                       placeholder="Localidad">
            </div>
            <div class="mb-3 col-2 personaHumana personaJuridica d-none">
                <label for="piso" class="form-label">Piso</label>
                <input type="text" class="form-control" id="piso"
                       placeholder="Piso">
            </div>
            <div class="mb-3 col-2 personaHumana personaJuridica d-none">
                <label for="departamento" class="form-label">Departamento</label>
                <input type="text" class="form-control" id="departamento"
                       placeholder="Departamento">
            </div>
            <div class="mb-3 col-2 personaHumana personaJuridica d-none">
                <label for="codigoPostal" class="form-label">Codigo Postal</label>
                <input type="text" class="form-control" id="codigoPostal"
                       placeholder="Codigo Postal">
            </div>
            <div class="mb-3 personaHumana d-none">
                <label for="sexo" class="form-label">Sexo</label>
                <select class="form-select" aria-label="Default select example" id="sexo">
                    <option selected disabled>Seleccione una opcion</option>
                    <option value="masculino">Masculino</option>
                    <option value="femenino">Femenino</option>
                    <option value="otro">Otro</option>
                </select>
            </div>
            <div class="mb-3 personaJuridica d-none">
                <label for="tipoJuridico" class="form-label">Tipo Juridico</label>
                <select class="form-select" aria-label="Default select example" id="tipoJuridico"
                >
                    <option selected disabled>Seleccione una opcion</option>
                    <option value="gubernamental">Gubernamental</option>
                    <option value="ong">ONG</option>
                    <option value="empresa">Empresa</option>
                    <option value="institucion">Institucion</option>
                </select>
            </div>
            <div class="mb-3 personaJuridica d-none">
                <label for="rubro" class="form-label">Rubro</label>
                <input type="text" class="form-control" id="rubro"
                       placeholder="Rubro">
            </div>

            <div class="mb-3 text-center">
                <button type="submit" class="btn btn-primary px-5">Guardar</button>
            </div>
        </div>
    </form>
</div>

<script>
    function updateTable() {
        const actionType = document.getElementById('tipoPersona').value;
        const personaJuridicaRows = document.querySelectorAll('.personaJuridica');
        const personaHumanaRows = document.querySelectorAll('.personaHumana');

        if (actionType === 'personaJuridica') {
            personaHumanaRows.forEach(row => row.classList.add('d-none'));
            personaJuridicaRows.forEach(row => row.classList.remove('d-none'));
        } else if (actionType === 'personaHumana') {
            personaJuridicaRows.forEach(row => row.classList.add('d-none'));
            personaHumanaRows.forEach(row => row.classList.remove('d-none'));
        } else {
            personaJuridicaRows.forEach(row => row.classList.add('d-none'));
            personaHumanaRows.forEach(row => row.classList.add('d-none'));
        }
    }
</script>
