@{
    ViewData["Title"] = "Suscripciones";
    ViewData["Current"] = "Suscripciones";
    ViewData["Breadcrumb"] = new Dictionary<string, string>
    {
        { "Inicio", Url.Action("Index", "Home") },
        { "Suscripciones", Url.Action("Suscripciones", "Home") }
    };
    ViewData["Suscripciones"] = new List<object>{
        new 
        {
            Id = 1,
            Heladera="Heladera 1",
            },
        new
        {
            Id = 2,
            Heladera="Heladera 2",
        },
        new
        {
            Id = 3,
            Heladera="Heladera 3",
        },
    };
}

<div class="col-12 mb-3">
    <h1 class="text-center">Mis Suscripciones</h1>
</div>
<div class="col-12">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="table-secondary">
            <tr id="table-header">
                <th scope="col">#</th>
                <th>Heladera</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody id="table-body" class="table-group-divider">

            @foreach (var suscripcion in (List<dynamic>)ViewData["Suscripciones"])
            {
            <tr class="align-middle">
                <th scope="row">@suscripcion.Id</th>
                <td>@suscripcion.Heladera</td>
                <td>
                    <button type="button" class="btn btn-primary" disabled>Ver notificaciones</button>
                    <button type="button" class="btn btn-danger" disabled>Desuscribirse</button>
                </td>
            </tr>
            }


            </tbody>
        </table>
    </div>
</div>
