<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="PesoDonadosCoef" value="0.5" />
        <add key="ViandasDistribuidasCoef" value="1.0" />
        <add key="ViandasDonadasCoef" value="1.5" />
        <add key="TarjetasRepartidasCoef" value="2.0" />
    </appSettings>
</configuration>